
body {
    font-size: 18px;
    margin: 0;
    font-family: sans-serif;
    background-color: #f4f4f4;
}

#main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

header {
    background-color: #8837e6;
    box-sizing: border-box;
    padding: 0 30px;
}

    header .main_text {
        color: white;
        margin: 8em 0;
        text-align: center;
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
        letter-spacing: .5px;
        font-size: 1.2em;
    }

        header .main_text h1 {
            font-size: 2.1em;
        }

        header .main_text p {
            margin-top: 2em;
        }

    header .menu_bar {
        width: 100%;
        box-sizing: border-box;
        padding: 0 1em;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

        header .menu_bar .item {
            color: white;
            text-decoration: none;
            box-sizing: border-box;
            margin-right: .8em;
            padding: 1em 1.2em;
            border-color: #6918c7;
            border-width: 0 0 3px 0;
            border-style: solid;
            margin-bottom: 2px;
        }
        header .menu_bar .item:hover,
        header .menu_bar .item:focus {
            color: #461281;
        }

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

    #content > div {
        margin: 1.6em 0;
        color: #222222;
        width: 100%;
        max-width: 700px;
        line-height: 190%;
    }
    #content > div:first-child {
        margin-top: 5em;
    }
    #content > div:last-child {
        margin-bottom: 5em;
    }

    #content a {
        color: #469dcf;
        text-decoration: none;
    }
    #content a:hover, #content a:focus {
        text-decoration: underline;
    }
    
    #content h2 {
        color: #555;
        letter-spacing: .5px;
    }

footer {
    margin: 3em 0 4em 0;
    color: grey;
    text-align: center;
}